<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sirt.sirtmobile">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/sirt"
        android:label="SIRT Mobile"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="News"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="Calendar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TimeTableActivity"
            android:label="Select Semester"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ShuttlesActivity"
            android:label="Shuttles"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PeoplesDirectoryActivity"
            android:label="People's Directory"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CoursesActivity"
            android:label="Course"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShuttleDetailActivity"
            android:label="Bus Details"
            android:parentActivityName=".ShuttlesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShuttlesActivity"></meta-data>
        </activity>
        <activity
            android:name=".TimeTableSectionActivity"
            android:label="Select Section"
            android:parentActivityName=".TimeTableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimeTableActivity"></meta-data>
        </activity>
        <activity
            android:name=".TimeTableDetailsActivity"
            android:label="Timetable"
            android:parentActivityName=".TimeTableSectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimeTableSectionActivity"></meta-data>
        </activity>


    </application>

</manifest>